<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<%= react_component("Video", {name: "Cat Cat", contentSource: "cat_improv.mp4", contentType: "video/mp4"}) %>

<%= link_to 'New Video', new_video_path %>
